* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    color: white;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        #03163A 0%,
        #020F2C 55%,
        #010A1F 100%
    );

}
.container{
    width: 100%;
    max-height: 480px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.profil{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 18px;
}

.account{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.account h2{
    color: white;
    margin-bottom: 8px;
}

.account p{
    color: #D8DCE6;
    margin-bottom: 6px;
}

.profil-account{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #5C677D;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.profil-account h4{
    color: #F8FAFF;
    font-size: 35px;
    font-weight: 600;
}

.admin h2{
    color: white;
    margin-bottom: 8px;
}

.admin p{
    color: #D8DCE6;
    margin-bottom: 6px;
}

.system{
    color: #0B5DFF !important;
    font-weight: 600;
}



.profile-menu{
    margin-top: 30px;
    padding: 20px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 0;
    border-bottom: 1px solid #1E2F4A;

    color: #D8DCE6;
}

.left{
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-item i{
    font-size: 18px;
}

.logout{
    color: #FF4D4D;
}


/* ----- BOTTOM NAV ----- */
.bottom-nav {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0A1220;
    border-top: 1px solid #1E2F4A;
    padding: 12px 0;
    position: sticky;
    bottom: 0;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: #6B7EA0;
    font-size: 11px;
}

.nav-item i {
    font-size: 18px;
}

.nav-item.active {
    color: #1a6bff;
}